extends ../layouts/page
block page-title
 title Index Page 
block page-content
 div.container
  h1 Index Page As
  i.fa.fa-id-card-o(aria-hidden='true')
  img.img-responsive(src='../../images/logo.png', alt='')


